---
title: "On-Device DNN Training"
excerpt: "Demo of on-device DNN training of an animal classification dataset with 10 classes on a STM32H743VI ARM Cortex-M7 microcontroller (OpenMV H7 R2)."
collection: portfolio
---
<p>Demo of on-device DNN training of an animal classification dataset with 10 classes on a STM32H743VI ARM Cortex-M7 microcontroller (OpenMV H7 R2).</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rcjyTlm846I?si=kENIcjQA34IQQ7l1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>{% for post in site.publications %}
    {% if post.title == "On-Device Training of Fully Quantized Deep Neural Networks on Cortex-M Microcontrollers" %}
        {% include reference.html %}    
    {% endif %}
  {% endfor %}</p>