---
title: "On-Device DNN Training"
excerpt: "Demo of on-device DNN training of an animal classification dataset with 10 classes on a STM32H743VI ARM Cortex-M7 microcontroller (OpenMV H7 R2)."
collection: portfolio
---
<p>Demo of on-device DNN training of an animal classification dataset with 10 classes on a STM32H743VI ARM Cortex-M7 microcontroller (OpenMV H7 R2).</p>
<video width="640" controls>
    <source src="https://www.cs12.tf.fau.eu/files/2024/02/On-Device-Training.webm" type="video/webm">
    Your browser does not support the video tag.
</video>
<p>{% for post in site.publications %}
    {% if post.title == "On-Device Training of Fully Quantized Deep Neural Networks on Cortex-M Microcontrollers" %}
        {% include reference.html %}    
    {% endif %}
  {% endfor %}</p>