---
title: "MicroYOLO Person Detection"
excerpt: "Demo of MicroYOLO person detection on a STM32H743VI ARM Cortex-M7 based microcontroller (OpenMV H7 R2)."
collection: portfolio
---

<p>Demo of MicroYOLO person detection on a STM32H743VI ARM Cortex-M7 based microcontroller (OpenMV H7 R2).</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TBrnr_bml_I?si=nKy9oH_Xgis-OOA3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>{% for post in site.publications %}
    {% if post.title == "microYOLO: Towards Single-Shot Object Detection on Microcontrollers" %}
        {% include reference.html %}    
    {% endif %}
  {% endfor %}</p>